.box{
    width: 703px;
    height: 83px;
    background-color: #EEEEEE;
    align-items: center;
    display: flex;

}

.title{
    margin-left: 41px;
    font-size: 25px;
    color: #323232;
}

.inperson{
    margin-left: 466px;
    font-size: 25px;
    color: #3F5489;
}